{{ define "main" }}
<div class="max-w-5xl mx-auto px-4 sm:px-6 py-12">
  <div id="community-app" data-lang="{{ .Lang }}">
    <div class="flex items-center justify-center py-20 text-gray-400 text-sm">
      Loading...
    </div>
  </div>
</div>

{{ $js := slice
  (resources.Get "js/comm/_00_start.js")
  (resources.Get "js/comm/_01_i18n.js")
  (resources.Get "js/comm/_02_helpers.js")
  (resources.Get "js/comm/_03_icons.js")
  (resources.Get "js/comm/_04_nip05.js")
  (resources.Get "js/comm/_05_views.js")
  (resources.Get "js/comm/_06_profile.js")
  (resources.Get "js/comm/_99_init.js")
  | resources.Concat "js/community.bundle.js" | minify | fingerprint "sha512" }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
{{ end }}
