{{- $context := . -}}
{{- $pageType := .Type -}}
{{- $isHome := .IsHome -}}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {{- if $isHome -}}
    {
      "@type": "WebSite",
      "@id": "{{ .Site.BaseURL }}#website",
      "url": "{{ .Site.BaseURL }}",
      "name": "{{ .Site.Title }}",
      "description": "{{ .Site.Params.description }}",
      "publisher": {
        "@id": "{{ .Site.BaseURL }}#organization"
      },
      "potentialAction": {
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "{{ .Site.BaseURL }}search/?q={search_term_string}"
        },
        "query-input": "required name=search_term_string"
      }
    },
    {{- end -}}
    {
      "@type": "Organization",
      "@id": "{{ .Site.BaseURL }}#organization",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL }}",
      {{- with .Site.Params.logo -}}
      "logo": {
        "@type": "ImageObject",
        "url": "{{ . | absURL }}"
      },
      {{- end -}}
      "sameAs": [
        {{- $social := slice -}}
        {{- with .Site.Params.social.twitter -}}
          {{- $social = $social | append (printf "https://twitter.com/%s" .) -}}
        {{- end -}}
        {{- with .Site.Params.social.github -}}
          {{- $social = $social | append (printf "https://github.com/%s" .) -}}
        {{- end -}}
        {{- with .Site.Params.social.linkedin -}}
          {{- $social = $social | append (printf "https://linkedin.com/in/%s" .) -}}
        {{- end -}}
        {{- delimit $social ",\n        " -}}
      ]
    }
    {{- if and (not $isHome) (eq $pageType "blog") -}}
    ,{
      "@type": "BlogPosting",
      "@id": "{{ .Permalink }}#article",
      "headline": "{{ .Title }}",
      "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}",
      "image": {
        "@type": "ImageObject",
        "url": "{{ with .Params.image }}{{ . | absURL }}{{ else }}{{ .Site.Params.defaultImage | absURL }}{{ end }}"
      },
      "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
      "author": {
        "@type": "Person",
        "name": "{{ with .Params.author }}{{ . }}{{ else }}{{ .Site.Params.author }}{{ end }}"
      },
      "publisher": {
        "@id": "{{ .Site.BaseURL }}#organization"
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
      },
      {{- with .Params.tags -}}
      "keywords": "{{ delimit . ", " }}",
      {{- end -}}
      "articleSection": "{{ with .Section }}{{ . }}{{ end }}",
      "inLanguage": "{{ .Site.Language.Lang }}",
      "isPartOf": {
        "@id": "{{ .Site.BaseURL }}#website"
      }
    }
    {{- end -}}
    {{- if eq $pageType "docs" -}}
    ,{
      "@type": "TechArticle",
      "@id": "{{ .Permalink }}#article",
      "headline": "{{ .Title }}",
      "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}",
      "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
      "author": {
        "@type": "Person",
        "name": "{{ with .Params.author }}{{ . }}{{ else }}{{ .Site.Params.author }}{{ end }}"
      },
      "publisher": {
        "@id": "{{ .Site.BaseURL }}#organization"
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
      }
    }
    {{- end -}}
    ,{
      "@type": "WebPage",
      "@id": "{{ .Permalink }}#webpage",
      "url": "{{ .Permalink }}",
      "name": "{{ .Title }}",
      "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}",
      "inLanguage": "{{ .Site.Language.Lang }}",
      "isPartOf": {
        "@id": "{{ .Site.BaseURL }}#website"
      },
      "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}"
      {{- if .Params.breadcrumb -}}
      ,"breadcrumb": {
        "@id": "{{ .Permalink }}#breadcrumb"
      }
      {{- end -}}
    }
    {{- if .Params.breadcrumb -}}
    ,{
      "@type": "BreadcrumbList",
      "@id": "{{ .Permalink }}#breadcrumb",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "{{ .Site.BaseURL }}"
        }
        {{- $sections := split .RelPermalink "/" -}}
        {{- $url := .Site.BaseURL -}}
        {{- $position := 1 -}}
        {{- range $index, $section := $sections -}}
          {{- if and $section (ne $section "") -}}
            {{- $position = add $position 1 -}}
            {{- $url = printf "%s%s/" $url $section -}}
        ,{
          "@type": "ListItem",
          "position": {{ $position }},
          "name": "{{ humanize $section }}",
          "item": "{{ $url }}"
        }
          {{- end -}}
        {{- end -}}
      ]
    }
    {{- end -}}
  ]
}
</script>